@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
  margin: 0;
  padding: 0;
  background: #fff;

  color: #fff;
  font-family: Arial;
  font-size: 12px;
}

.body{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(https://images.unsplash.com/photo-1484191914255-a429e6f819b4?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=james-sutton-188689.jpg&s=0b04fe62e0a014291ef1ffe63b89ebf8);
  background-size: cover;
  -webkit-filter: blur(9px);
  z-index: 0;
}



